@import "styles/variables";
@import "styles/mixins";

.cardProgramCourse {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

  @include media-breakpoint-up(md) {
    gap: 44px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }
}
.programCardWrapper {
  width: 315px;
  @include media-breakpoint-up(md) {
    width: 460px;
  }
}
.programCardTheme {
  box-shadow: -4px 6px 40px -22px rgba(101, 81, 70, 0.7);
  padding: 10px 10px 14px 10px;

  div {
    background: #F2F2F2;
    width: 147px;
    height: 110px;
    margin-bottom: 12px;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: $description-color;
    text-align: center;
    margin: 0;
  }

  @include media-breakpoint-up(md) {
    padding: 12px 12px 24px 12px;
    div {
      width: 216px;
      height: 155px;
      margin-bottom: 24px;
    }
    h3 {
      font-size: 28px;
    }
  }
}
.programCardList {
  color: $description-color;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 22px;
    letter-spacing: 0.05em;
  }
}
.programCardDescription {
  color: $title-color;
  margin-top: 15px;
  font-size: 16px;

  span {
    color: $buttons-bg-color
  }
  @include media-breakpoint-up(md) {
    margin-top: 25px;
    font-size: 20px;
  }
}