@import "styles/variables";
@import "styles/mixins";

.customInput {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  position: relative;
  margin-bottom: 30px;

  label {
    font-size: 16px;
    margin-bottom: 10px;
    color: $description-color;
  }

  input {
    border: 0.6px solid $border-color;
    box-sizing: border-box;
    box-shadow: -4px 6px 40px -22px rgba(101, 81, 70, 0.7);
    padding: 9px 16px;
    height: 47px;
    font-size: 19px;
    color: $description-color;
  }

  input::placeholder {
    color: $elements-color;
  }
  input:focus {
    border: 0.6px solid $elements-color;
    box-shadow: -4px 6px 40px -22px rgba(101, 81, 70, 0.7);
    outline: none;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 44px;
    padding: 0;

    label {
      font-size: 20px;
      margin-bottom: 15px;
    }
    input {
      font-size: 22px;
      padding: 16px;
      height: 59px;
    }
  }
}

.error {
  input {
    border-color: $error-color;
    color: $error-color;
  }
  input:focus {
    border-color: $error-color;
  }
}

.customInputError {
  position: absolute;
  bottom: -25px;
  left: 15px;
  color: $error-color;
  font-weight: bold;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    bottom: -35px;
    left: 0;
  }
}
