//colors
$title-color: #6D422A;
$description-color: #8F694F;
$hover-color: #8F694F;
$buttons-bg-color: #CFA588;
$buttons-bg-hover: #6D422A;
$elements-color: #F0D9C1;
$disabled-color: #F2F2F2;
$border-color: #F2F2F2;
$blue-color: #8EC9FF;
$white: #FFFFFF;
$error-color: #f88380;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
);

//$container-max-widths: (
//        sm: 540px,
//        md: 690px,
//        lg: 960px,
//        xl: 1200px
//);
